@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Assistant:wght@200;300&family=Baloo+2&family=Cairo:wght@200;600&family=Caveat:wght@400;700&family=Comforter+Brush&family=Exo+2:wght@100;300&family=Indie+Flower&family=Inter:wght@100;500&family=Lato:wght@100;400&family=M+PLUS+1:wght@100;400&family=M+PLUS+2:wght@100;500&family=M+PLUS+Code+Latin:wght@100;400&family=Merriweather:wght@300;700&family=Open+Sans:wght@300;600&family=Roboto+Slab:wght@100;400&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
:root
{
    --primary-cor:#409C32;
    --secondary-cor:#265C1D;
    --three-cor:#59DB46;
    --four-cor:#5FE84A;
    --five-cor:#50C23E;
    --gold-cor:#FFC857;
    --charcoal-cor:#2E4052;
    --purple-cor:#412234;
    --green-cor:#BDD9BF;
    --blue-cor:#516dff;
}
*{
    box-sizing: border-box;
}

body
{
    background-color: var(--blue-cor);
    color: #fff;
    font-family: 'Press Start 2P',sans-serif;
    height: 100vh;
    overflow: hidden; /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
    margin: 0;
    text-align: center;
    /*overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
    /* min-height: 100vh; */
}
a{
    color: #fff;
}

h1{
    line-height: 1.4;
}

.btn {
    border: 0;
    background-color: #fff;
    color: var(--blue-cor);
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
    /* width: 150px;
    height: 150px; */
}
.btn:focus{
    outline: 0;
}
.btn:hover{
    opacity: 0.9;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
}

.screen.up{
    margin-top: -100vh;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.lista li{
    margin: 10px;
}

.escolheBtn{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.escolheBtn img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.escolheBtn:hover{
    background-color: #fff;
    color: var(--blue-cor);
}

.escolheBtn:active{
    background-color: rgba(255,255,255,0.7);
}

.gameMain {
    position: relative;
}

#tempo,#score{
    position: absolute;
    top: 20px;
}
#tempo{
    left: 20px;
}
#score{
    right: 20px;
}

#msg{
    line-height: 1.7;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 20px;
    z-index: 100;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-150%);
    transition: transform 0.4s ease-in;
}
#msg.visivel{
    transform: translate(-50%,150%);
    opacity: 1;
}

.inseto {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.3s ease-in-out;
    /* top: 200px;
    left: 300px;   */
}

.inseto.off{
    transform: translate(-50%,-50%) scale(0);
}

.inseto img{
    width: 100px;
    height: 100px;
}

/*KEYFRAMES //////////////////////////////////////////////////*/


/*///////////////MEDIA QUERYS////////////////////////////////////////////////////////////////////*/



@media (max-width: 800px)
{
    body{
        overflow:visible;
    }
    footer 
    {
        /* display: none; */
    };

}

@media (max-width: 768px){
  
}

@media (max-width : 600px)
{

}

@media(max-width: 480px)        /*para ecras mais pequenos*/
{
    body{
        overflow:visible;
    }

    footer 
    {
        display: none;
    };

}

/*estilos do footer */

footer{
    font-size: 0.8rem;
    color: #fff;
    font-weight: 900;
    font-family:'Inconsolata',sans-serif ;
    text-align: center;
    /* border: 1px solid var(--charcoal-cor); */
     position: absolute;
    top: 3rem; 
    /*margin-top: 50px; */
    
    transform: translate(-50%, -50%);
    font-weight: 500;
    padding: 0rem 0.9rem;
    position: fixed;
}

footer:hover{
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    transform: translate(-50%,-50%) scale(1.2);
}
footer:hover a{
    color: yellow;
    font-weight: 700;
}
footer:hover a:hover{
    font-weight: 900;
    color:greenyellow;
}

footer a{
   color: #fff;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: var(--gold-cor);
}
/* .fot{
    text-align: center;
} */




